[2017-06-14 10:18] abishekvashok opened #1 "Add gitter api based authentication to the app"
- [x] Take out the current chat activity as it is a boiler plate only.
- [x] Create a new Gitter app in order to make use of the gitter api
- [x] Implement authentication as mentioned in a complex process by the Gitter API at: https://developer.gitter.im/docs/authentication
- [x] For the last phase a networking client can be used as the stock way sucks like OkHttp
- [x] Store the generated access

[2017-06-14 10:23] abishekvashok commented on #1
Working on it, if possible please add bounties.

[2017-06-14 10:30] abishekvashok opened #3 "Design an icon for the app"
An app icon would be awesome.

CC: @championswimmer @the-dagger

[2017-06-14 10:31] abishekvashok commented on #1
Please review #2

[2017-06-14 10:33] abishekvashok commented on #3
Should we do this now?

[2017-06-21 07:18] abishekvashok commented on #1
Edited the issue to implement butterknife

[2017-06-22 16:41] abishekvashok commented on #1
@the-dagger mind closing this and adding a bounty pls?

[2017-06-22 17:37] the-dagger commented on #1
@championswimmer Please take a look. ^

[2017-06-23 11:08] abishekvashok opened #4 "Enhance Dashboard Activity"
Populating the Dashboard Activity would be the next step to go forward.

- [ ] Store user data received from Gitter API, by making a call with access token to the API in shared Preferences.
- [ ] Implement Realm db
- [ ] If on the first use the user is offine it will redirect to NoNetwork Activity
- [ ] Get rooms data and store them in Realm db.
- [ ] Implement Recycler View in Dashboard Activity

[2017-06-23 11:08] abishekvashok commented on #4
I am working on it. :)

[2017-06-23 13:19] ArushiSinghal commented on #3
@abishekvashok I have selected some of the icons please review
![10](https://user-images.githubusercontent.com/20858804/27483855-a16cecca-5844-11e7-8af1-ad385c0cbd49.png)
![9](https://user-images.githubusercontent.com/20858804/27483860-a32ff354-5844-11e7-87d7-46050951d9e5.png)
![7](https://user-images.githubusercontent.com/20858804/27483863-a50fea6c-5844-11e7-8b0f-e13ea750e7ba.png)
<img width="512

[2017-06-23 13:54] the-dagger commented on #3
@ArushiSinghal 3rd and 4th icons look quite nice.
Can you use the colors used in gitter's UI instead for consistency?

https://gitter.im

[2017-06-23 16:23] ArushiSinghal commented on #3
@the-dagger I have changed the colour. Please have a look
1)
![imageedit_5_3465423032](https://user-images.githubusercontent.com/20858804/27491032-51c6bcb8-585e-11e7-95b9-aef42f5874c8.png)
2)
![imageedit_3_4324297320](https://user-images.githubusercontent.com/20858804/27491037-55dc5d58-585e-11e7-8a36-cc5f7fbc2b0a.png)
3)
![imageedit_2_8413654096](https://user-images.githubusercontent.com/20858804/

[2017-06-23 20:52] the-dagger commented on #3
@ArushiSinghal Could you try making these with #B62F69, #C02E64 and #753A88?
Thanks :)

[2017-06-23 20:53] #1 closed

[2017-06-23 21:19] ArushiSinghal commented on #3
#753A88
![753a88_1](https://user-images.githubusercontent.com/20858804/27500780-a2cab802-5887-11e7-9841-fbd11ba45e88.png)
![753a88](https://user-images.githubusercontent.com/20858804/27500783-a62c0708-5887-11e7-9b9e-b8525b406ca3.png)
#C02E64
![c02e64](https://user-images.githubusercontent.com/20858804/27500798-b40c8410-5887-11e7-8c36-c2e67b6ed274.png)
![c02e64_1](https://user-images.githubusercont

[2017-06-24 08:34] abishekvashok commented on #3
#C02E64 lokks quite good @ArushiSinghal.

[2017-06-24 08:40] ArushiSinghal commented on #3
@abishekvashok which one out of two is best a) or b).
And how should I send the pull request? Please guide.

[2017-06-24 10:46] abishekvashok commented on #3
@ArushiSinghal `b`.
I am a student here.
Maybe some mentors like @the-dagger would have a final say on the icon.

**To add the icon**
Fork this repo, clone it.
Replace ic_launcher.png and ic_launcher_round.png files in the mipmap folder inside app/src/res/.
[_Note: there are various various dimensions_]
That would be enough as we are targeting Android `25`.

[2017-06-25 19:33] ArushiSinghal commented on #3
@the-dagger please review.

[2017-06-25 20:48] the-dagger commented on #3
@ArushiSinghal The last one looks good to me, but try avoiding the use of a gradient.
Also use #C02E64 for the bigger bubble and white for smaller one.
Without any gradient.

[2017-06-25 20:54] ArushiSinghal commented on #3
@the-dagger Which one is fixed out of #C02E64 and #B62F69.
And which one out of two logos from each part.

[2017-06-25 22:21] the-dagger commented on #3
Use this one.
https://user-images.githubusercontent.com/20858804/27500823-c430ca9a-5887-11e7-9756-759a16dc6632.png

Also for the bigger chat bubble, use #C02E64 and keep the smaller one while.
The 3 dots in the smaller icon can also be made #C02E64

[2017-06-26 05:58] ArushiSinghal commented on #3
**# #C02E64**
![imageedit_3_4628606602](https://user-images.githubusercontent.com/20858804/27526287-62f30efa-5a62-11e7-95e0-864f9b9a97a8.png)
 # **#B62F69**
![imageedit_5_5755261000](https://user-images.githubusercontent.com/20858804/27526299-6c43a5f0-5a62-11e7-9690-118db86d2029.png)

[2017-06-26 07:29] ArushiSinghal commented on #3
@the-dagger Please Add Bounty to this issue.

[2017-06-28 16:38] abishekvashok commented on #4
Done via #6.

[2017-06-28 16:38] abishekvashok commented on #4
Pls add bounties @the-dagger @championswimmer

[2017-07-06 05:49] the-dagger commented on #4
Thanks 🙂

[2017-07-06 05:49] #4 closed

[2017-07-07 12:17] #3 closed

[2017-07-08 09:12] abishekvashok opened #7 "Add display message support for rooms"
Since, we got a rooms fragment which displays all our rooms, we now would need to view messages from them.

- [ ] Add `onClick` attribute to the dynamically generated views which opens a new fragment.
- [ ] Pass the room id to the other fragment.
- [ ] If network is available try to get new messages and populate the realm table for messages.
- [ ] If network is not available and no messages are th

[2017-07-08 09:13] abishekvashok commented on #7
Working on it.

[2017-07-09 14:56] abishekvashok commented on #3
Should we reopen this @the-dagger

[2017-07-14 15:55] abishekvashok commented on #7
Done via #9

- [x] Add `onClick` attribute to the dynamically generated views which opens a new fragment.
- [x] Pass the room id to the other fragment.
- [x] If network is available try to get new messages and populate the realm table for messages.
- [x] If network is not available and no messages are there in the realm db, redirect to network connection page.
- [x] If no messages are in the room

[2017-07-15 05:45] abishekvashok opened #10 "Add support for sending messages and drafts"
The following steps would need to be taken:

- [ ] Implement input `TextBox` along side the `RecyclerView` which currently takes the complete height of the parent.
- [ ] Implement sending the message when internet is available with the help of Gitter API
- [ ] Add a new column called `DraftMessage` in the `RoomsTable` which will give us drafted message support.
- [ ] Modify the `MessagesTable` and

[2017-07-15 05:45] abishekvashok commented on #10
Working on it

[2017-07-15 11:18] abishekvashok commented on #10
Please review #9 so that I could add a ne Pr, I worked on the same branch and finished this one. @the-dagger

[2017-07-15 21:30] championswimmer opened #11 "add travis/circle ci config"

[2017-07-16 07:16] abishekvashok commented on #11
Travis or circle ci?

[2017-07-16 07:35] the-dagger commented on #11
@abhishekvashok CircleCi is better imo.

[2017-07-16 11:38] abishekvashok commented on #11
Its abishekvashok "Abi" @the-dagger. We will go with circle ci then.

[2017-07-21 05:57] #7 closed

[2017-07-21 11:48] abishekvashok commented on #7
@the-dagger pls add bounties :P

[2017-07-21 14:58] abishekvashok commented on #10
Done in #13

[2017-08-03 16:04] #11 closed

[2017-08-03 16:19] championswimmer opened #14 "add app screenshots to readme"

[2017-08-03 16:19] championswimmer opened #15 "add app usage GIF to readme"
Gif size should be ~1mb not too large

[2017-08-13 17:33] #10 closed

[2017-08-14 07:43] abishekvashok commented on #10
@championswimmer pls accept the claim :)

[2017-08-14 08:20] abishekvashok opened #17 "Add notifications support"
- [ ] Implement  `TaskStackBuilder` builder object
- [ ] Sync messages when you are connected online by extending the capabilities of the already
implemented `SyncAdapter` in #10 via #13
- [ ]  Add extending capacities so that messages can be viewed channel wise inside the notification shade via the `NotificationCompat.Builder `
- [ ]  Create a PendingIntent for the Activity. Call setContentIntent

[2017-08-14 09:39] abishekvashok commented on #17
Working on it

[2017-08-14 09:41] abishekvashok commented on #17
Done in #18, now a notification is shown which can be expaned and can view channel wise unread list.

[2017-08-15 17:57] #17 closed

[2018-05-06 11:46] akshat14714 commented on #14
@championswimmer is this issue still open? Can you help me how to start the app on my local system.

[2018-05-06 19:53] akshat14714 commented on #14
@abishekvashok can you please give me some more insight as to how to download and build?

[2018-05-07 15:31] abishekvashok commented on #14
It's and android app, open it up on android studio and hit build.

[2018-05-09 03:04] PrajwalM2212 commented on #14
@championswimmer  I would like to do this .

[2018-05-14 19:33] ankurg22 commented on #15
claiming

[2018-05-14 20:10] ankurg22 opened #19 "Fix API changes"
Issues-
1. There are many crashes after building the project. Make appropriate changes to revive the app.
2. Set targetSdk to 27 for latest os and use latest build tools available.

**I'm working on this**

[2018-05-14 20:36] manav-mj opened #20 "add issue template for github"
There should be an issue template added to the repo for enabling a proper documentation of bugs and updations to the code-base

[2018-05-14 20:39] manav-mj opened #21 "App crash on startup due to butterknife"
**Actual Behaviour**

App crashes on startup due to `ButterKnife.bind(this);`

**LogCat for the issue**

05-15 02:08:30.269 20920-20920/com.codingblocks.chatter E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.codingblocks.chatter, PID: 20920
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.codingblocks.chatter/com.codingblocks.chatter.AuthenticationActivity}: jav

[2018-05-14 21:04] IamRaviTejaG commented on #20
@championswimmer @abhishek97 Any bounty on this?

[2018-05-15 02:52] S2606 opened #25 "Organize the code structure"
Currently all the code-files are in a single directory. Organizing it into directories for Fragments, Adapters etc. would be easy for viewing purposes.

[2018-05-15 04:57] 28Ritu opened #26 "App crash when selecting Rooms in bottom navigation bar"
The app crashes when a user selects the Rooms tab in the bottom navigation bar.

**Loogcat For The Error**

05-15 10:20:38.243 7526-7526/com.codingblocks.chatter E/AndroidRuntime: FATAL EXCEPTION: main
                                                                        Process: com.codingblocks.chatter, PID: 7526
                                                                        java.lang

[2018-05-15 05:06] 28Ritu opened #27 "App crash upon traversing through all the buttons in the bottom nav bar"
When the user first selects the Rooms tab, it works fine. (I am working on the issue #26 ) . But after frequent and continuous traversal of all the tabs, the app crashes.

**Logcat**
05-15 10:35:48.092 8971-8989/com.codingblocks.chatter E/NativeCrypto: ssl=0xb9bd2bd0 cert_verify_callback x509_store_ctx=0xa3dfac7c arg=0x0
05-15 10:35:48.092 8971-8989/com.codingblocks.chatter E/NativeCrypto: ssl=0xb

[2018-05-15 05:12] 28Ritu commented on #26
@championswimmer Kindly review this.

[2018-05-15 05:12] 28Ritu commented on #27
@championswimmer Kindly review this.

[2018-05-15 06:34] aggarwalpulkit596 opened #29 "ButterKnife binding"
ButterKnife.bind(this); in the AuthenticationActivity.java should be written after setcontentview

[2018-05-15 06:54] aggarwalpulkit596 opened #30 "Butterknife Incorrect Constructor"
Butterknife.bind() in roomsfragment have used a wrong constructor in fragment

[2018-05-15 07:11] aggarwalpulkit596 opened #32 "App Crash On No Internet Connection"
Butterknife.bind not done in No Internet Connection Activity and app gets crashed.

[2018-05-15 07:28] aggarwalpulkit596 opened #33 "RoomFragment"
RoomFragment is getting empty object
![screen shot 2018-05-15 at 12 58 04 pm](https://user-images.githubusercontent.com/29139786/40042602-9fb8c77c-583f-11e8-8b84-a5e407b7436a.png)

[2018-05-15 08:42] ananay opened #34 "Blank Activity / Fragment on every tab"
![image](https://user-images.githubusercontent.com/5569219/40046171-e29d2d44-5849-11e8-9170-a03a670a9c47.png)

Clicking on any tab shows a blank activity / fragment

[2018-05-15 10:11] abishekvashok opened #37 "Update targetSDK version to API 27"
To make sure we are up to date with the changes in Android, we should
- [ ] update to the latest target API: 27 from API 25.
- [ ] update the build tools to 27.0.3 from 25.0.03
- [ ] update gradle

Here's the major API changes: https://developer.android.com/sdk/api_diff/27/changes

[2018-05-15 10:11] abishekvashok commented on #37
I am working on it :)

[2018-05-15 10:39] abishekvashok opened #39 "org.json.JSONException: No value for username when trying to get username from json response"
[code]
is crashing the app

[2018-05-15 10:39] abishekvashok commented on #39
Working on it

[2018-05-15 11:16] RishabhRawatAndroid commented on #34
Can I work on this issue?

[2018-05-15 11:40] abishekvashok commented on #39
Will make a pr when #38 is fixed. By the time see my fork's jack branch.

[2018-05-15 12:23] chaostools opened #40 "New Icon For Chatter"
I think the App should have an icon  with chatter's Color palette  and gitter-like icon.
Working on it

[2018-05-15 13:32] chaostools opened #42 "Error 404 on gitterAPI call"
At first after adding logs to all requests, I found that the server is not giving any response (404 not found) due to which the JSONObject Class is unable to create a json object
- The shared preferences are successfully saving the user's access token
- the okhttp request
[code]
is giving no response(404)
- thus the `JSONObject` is not created.

Here are the detailed logs:
[code]

@the-dagger  @ch

[2018-05-15 13:59] abishekvashok commented on #42
Duplicate of #39

[2018-05-15 14:26] chaostools commented on #42
@abishekvashok  can you please tell me how is this a duplicate? As far as I can see, I never saw that the app getting  'crashed' by the json request you wrote.Can you please add steps to reproduce your bug?

I have got a working project in my system and it was crashing due to wrong butterknife usage(But already fixed that)

Moreover ,  i think its the  api call that is giving a null response and n

[2018-05-15 14:30] chaostools commented on #39
#39 is already reolved. #42 is a different Issue. Please check my comment at that issue

[2018-05-15 14:53] RishabhRawatAndroid opened #43 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.widget.RecyclerView.setLayoutManager"
[code]

**App crashes when we click the Rooms button in bottom navigation bar.**

[2018-05-15 15:29] anandwana001 commented on #34
Can I work on this issue?

[2018-05-15 16:12] RishabhRawatAndroid commented on #34
This (**Fragment on every tab**) is already done in the project. But I fix the #43 issue in the #44 pull request.

[2018-05-15 16:13] abishekvashok commented on #42
It's just another narrative bro, chill :)

[2018-05-15 17:27] chaostools commented on #40
@the-dagger  please add some bounty on it :smile:

[2018-05-15 17:48] ankurg22 opened #45 "Use Architecture Components"
Since the current size of the project is small and the app idea has good potential. Only authentication works perfectly right now. It would be great to start using the Architecture components now to increase maintainability, readability and developing experience. Also, follow [Repository pattern](https://github.com/KucherenkoIhor/Android-Architecture-Components).
This transformation should be done

[2018-05-15 17:48] ananay commented on #34
Cool!

Waiting for @championswimmer @the-dagger to merge this into the main repository.

[2018-05-15 19:45] RishabhRawatAndroid opened #46 "android.content.res.Resources$NotFoundException: String resource ID #0x64"
[code]

[2018-05-15 20:14] manav-mj commented on #34
@ananay @the-dagger #44 removes the `Butterknife.bind()` bug which is essenatial for further bugs
(but)
does populate data which is solved in #47 only for the RoomsFragment

[2018-05-15 20:17] manav-mj commented on #34
IMO this issue should be divided into 3 parts

1. - [ ] Blank RoomsFragment
2. - [ ] Blank DashboardFragment
3. - [ ] Blank SettingsFragment

[2018-05-15 20:26] manav-mj opened #48 "add pull request template"
There should be an issue template added to the repo for enabling a proper documentation of the _Pull Request_

[2018-05-15 20:44] manav-mj opened #50 "Blank RoomsFragment"
First part of #34

[2018-05-15 20:45] manav-mj opened #51 "Blank DashboardFragment"
Second part of #34

[2018-05-15 20:45] manav-mj opened #52 "Blank SettingsFragment"
Third part of #34

[2018-05-16 21:01] #48 closed

[2018-05-18 09:16] manav-mj opened #55 "App crash on EditText focus"
**Actual behavior**
App crashes when the `EditText` in `RoomFragment` is focused

**LogCat**
java.lang.IllegalStateException: **Cannot modify managed objects outside of a write transaction.**
        at io.realm.internal.Table.throwImmutable(Table.java:841)
        at io.realm.internal.Table.checkImmutable(Table.java:699)
        at io.realm.internal.UncheckedRow.setString(UncheckedRow.java:226)

[2018-05-18 09:18] manav-mj opened #56 "Use hint instead of text"
**Actual Behaviour**
The `EditText` in `RoomFragment` uses `text` to display the placeholder text

**Expected Behaviour**
It should use `hint` to display the placeholder text

[2018-05-18 14:35] RishabhRawatAndroid opened #59 "Chatter Application unable to start. It shows 'authenticationWebView' was not found"
**Device Use : Redmi Note 3**

[code]

[2018-05-18 14:59] RishabhRawatAndroid commented on #59
## Android Version 6.0 Marshmallow

![20180518_202104](https://user-images.githubusercontent.com/26416942/40241818-96fce4be-5ad9-11e8-810d-fc6d64ad35fe.gif)

[2018-05-18 20:36] #55 closed

[2018-05-18 21:01] RishabhRawatAndroid opened #61 "Showing the organization image of each item in Recylerview"
## I think it is necessary to show the organization image in recyclerview at each item in rooms fragment. It will enhance the user experience to show the organization image in cardview. Right now the only text is showing.

![40080786-b8b5ee52-58a9-11e8-87c0-bcb692d6c474](https://user-images.githubusercontent.com/26416942/40257590-5940accc-5b0c-11e8-92c9-61e1b422d689.png)

[2018-05-19 16:12] 28Ritu opened #63 "Null Pointer Exception in RoomsFragment and RoomFragment class"
**Actual Behaviour:**  The RoomsFragment and RoomFragment classes produce Null pointer exception upon frequent traversal of tabs in the bottom nav bar and hence the app crashes.

**Cause:** The fragments get detached from their concerned activity upon frequent traversal, so the call to getActivity() method results in Null pointer exception.

**Would you like to work on this issue:**  Yes.

[2018-05-19 18:45] #56 closed

[2018-05-19 18:48] #20 closed

[2018-05-19 18:49] #21 closed

[2018-05-20 10:31] arya-ayush commented on #26
I have fixed this issue locally. Please let me know how I have to create a pull request for it. Do I need to create my own branch on remote ?

[2018-05-20 11:53] arya-ayush commented on #34
#34 Room fragment is blank because the response json is empty and dashboard and settings fragment are working correctly.

[2018-05-21 21:02] ankurg22 opened #68 "Bad implementation of Splash screen"
**Actual Behaviour**
Currently, the splash screen loads full-fledged layout which takes a noticeable amount of time to load

**Expected Behaviour**
Splash screen should not have layout but themes. Themes loads almost instantly.

**Steps to reproduce it**
1. Open the app.

[2018-05-23 17:26] #59 closed

[2018-05-23 17:27] #46 closed

[2018-05-23 17:28] #43 closed

[2018-05-24 07:07] RishabhRawatAndroid opened #72 "App Crashes when no internet connection on the time of opening the app"
**Actual Behaviour**

When no internet connection available while opening the app then the App automatically crashes.

**Expected Behaviour**

If no internet connection available then App must open the NoNetworkActivity.

**Steps to reproduce it**
The problem occurs on ButterKnife to bind the button.

**LogCat for the issue**

[code]

**Screenshots of the issue**

![20180524_122559](https://user-i

[2018-05-25 04:14] aggarwalpulkit596 opened #75 "App Crashing on Selecting a room"
**Actual Behaviour**
On selecting a room app is crashing with error
Invalid query: field 'roomId' not found in table 'RoomsTable'.

**Expected Behaviour**

It should display a list of messages
**Steps to reproduce it**

Just select any of the room from rooms fragment

**LogCat for the issue**

05-25 09:41:52.504 30729-30729/com.codingblocks.chatter E/AndroidRuntime: FATAL EXCEPTION: main
    Proce

[2018-05-25 11:29] aggarwalpulkit596 opened #77 "Getting Messages from every Table"
**Actual Behaviour**
Saved Messaged in realm are adding up with every room messages
**Expected Behaviour**
Only Message of the room selected should come
**Steps to reproduce it**

**LogCat for the issue**

No crash only messages are adding up with every room messages
**Screenshots of the issue**

**Expected Bounty**
20

[2018-05-25 12:17] aggarwalpulkit596 opened #78 "App Crash on Sending Message In RoomFragment"
**Actual Behaviour**
App Crash on Send Message in Room Fragment

**LogCat for the issue**

05-25 17:45:12.489 14346-14346/com.codingblocks.chatter E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.codingblocks.chatter, PID: 14346
    java.lang.IllegalStateException: Cannot modify managed objects outside of a write transaction.
        at io.realm.internal.Table.throwImmutable(Table.java:979

[2018-05-25 14:52] aggarwalpulkit596 opened #79 "Add User Avatar with the message text in RoomFragment"
![screenshot-1527259907146](https://user-images.githubusercontent.com/29139786/40550959-3d65a622-6059-11e8-8812-c3703b534711.jpg)

[2018-05-26 19:53] #14 closed

[2018-05-26 19:58] championswimmer opened #80 "add a travis.yml file to build on travis"

[2018-05-26 19:59] championswimmer opened #81 "Update build dependencies to latest gradle/studio versions"
Do not work on this before #80

[2018-05-26 20:01] #72 closed

[2018-05-26 20:01] #68 closed

[2018-05-26 20:18] aggarwalpulkit596 commented on #80
on it

[2018-05-27 04:10] #80 closed

[2018-05-27 04:12] aggarwalpulkit596 commented on #81
can i do this now

[2018-05-27 04:31] championswimmer commented on #81
yeah

[2018-05-27 04:48] #81 closed

[2018-05-27 05:05] aggarwalpulkit596 commented on #26
@championswimmer bhaiya this issues and #27 both of them are still there so can i make pull request for them ?

[2018-05-27 05:06] championswimmer commented on #26
sure

[2018-05-27 05:32] aggarwalpulkit596 commented on #75
@championswimmer bhaiya kindly look into the issues and assign bounties to them so that we can work further
lot of issues in chatter app
![screen shot 2018-05-27 at 10 57 39 am](https://user-images.githubusercontent.com/29139786/40582779-70e43690-619d-11e8-88ed-9cab549aad55.png)
![screen shot 2018-05-27 at 10 39 39 am](https://user-images.githubusercontent.com/29139786/40582780-7145bcd0-619d-11e8-

[2018-05-27 06:17] #19 closed

[2018-05-27 10:36] #61 closed

[2018-05-27 11:13] RishabhRawatAndroid commented on #61
@championswimmer  Sorry to interrupt you but I mistakenly claim the wrong issue with a wrong pull request. Is there not any way to delete the claim if mistakenly done in leaderboards in Boss. Please add the 200 bounty point in RishabhRawatAndroid. At last sorry :(

My issue is #61 and PR is #71.

[2018-05-27 17:16] RishabhRawatAndroid opened #88 "Show the Room Message with proper layout and display according to the Date"
**Actual Behaviour**

At present, the Room message show without any order means recent message display on top of recycler view and room message has not a proper layout and there is no any mechanism to detect the link in the message.

**Expected Behaviour**
Room Message must be displayed according to the date and in user message the web link automatically recognize

**Steps to reproduce it**
Adding

[2018-05-27 18:40] manav-mj commented on #33
RoomFragment is not showing messages due to a lot of bugs:
1. Gitter API endpoint used is to be updated to the new Gitter API.
2. Logic changes regarding the realm object

[2018-05-27 18:41] manav-mj commented on #33
I suggest these bugs should also be included in the issue description

[2018-05-30 05:30] aggarwalpulkit596 opened #90 "Messages Not Populating"
**Actual Behaviour**
Messages in message fragment not getting populated
**Expected Behaviour**

Messages should be populated according to the selected room

**Screenshots of the issue**

![screenshot-1527658077109](https://user-images.githubusercontent.com/29139786/40700769-9eef8b0e-63f8-11e8-8a80-f5afe5048ad9.jpg)

**Expected Bounty**

20

[2018-05-30 07:04] RishabhRawatAndroid commented on #90
@aggarwalpulkit596  this is already done in the #89 PR with successful CI test.

[2018-05-30 10:49] aggarwalpulkit596 commented on #90
@RishabhRawatAndroid  what you have done is an improvisation and i have pointed out a bug so it's different

[2018-05-30 12:24] RishabhRawatAndroid opened #91 "Swipe to refresh the RoomsFragment Layout"
**Actual Behaviour**

Now there is no any option to refresh the RoomsFragment to know the unread message in RoomsFragment. We only have one option which is click the Room button in bottom navigation

**Expected Behaviour**

I think it is the good choice to refresh the RoomsFragment when we vertical swipe in the screen.

**Steps to reproduce it**

Adding theSwipeRefreshLayout in the RoomsFragment l

[2018-05-30 17:15] aggarwalpulkit596 commented on #91
no need to swipe refresh because the messages are coming in realtime like a socket

[2018-05-31 06:19] aggarwalpulkit596 opened #93 "Adding Rxjava for Api calls"
Use of Rx java and retrofit for API calls and checking networking connectivity in realtime using Rx java

[2018-05-31 07:31] abishekvashok commented on #93
Why should we do that? We have okkayhhtp directly logged via Android studio

[2018-05-31 07:31] abishekvashok commented on #29
That's fixed.

[2018-05-31 07:32] abishekvashok commented on #30
Fixed as well

[2018-05-31 08:44] aggarwalpulkit596 commented on #93
Okhttp can work but rxjava is better way of implementing api call as well help in making asyn task calls in background

[2018-05-31 10:22] abishekvashok commented on #93
You could wrap it around okkayhhtp, using retrofit seems like a bad option

[2018-05-31 10:29] RishabhRawatAndroid commented on #93
The **Core** part of Chatter app is the Api calling and if you want to change the Okhttp from the retrofit and Rxjava then it will require a lot of changes in the source code.

[2018-05-31 15:55] aggarwalpulkit596 commented on #93
it will require a lot of changes but i guess it's worth it

[2018-06-02 11:55] the-dagger opened #95 "No messages being displayed in the rooms"
Current the messages are not being displayed in a room.
Also the networking is handled poorly, multiple API calls are made.

[2018-06-02 11:56] the-dagger opened #96 "Fix app crash on launch"
On first launch, the app crashes with a Unique PrimaryKey exception.
A fix for this is needed.

[2018-06-02 11:58] the-dagger opened #97 "Materialize the app"
The UI of the app is lacking in many aspects, this needs some tweaking.

Changes needed :

* Removing BottomNavigationBar and having 2 Activities, one for the rooms and other for messages.

* Getting rid of unnecessary activities and fragments

* Having a PreferenceActivity

[2018-06-02 12:01] the-dagger opened #98 "Restructure database"
The current database schema is inefficient, we need to rewrite it from scratch (using room possibly).

This PR has 2 parts to it :
Part 1 should aim to remove the database functionality from the app (for now) and use temporary variables to display all the data.

Part 2 should aim to implement a fresh database (using ROOM) with proper structuring.
I will be happy to help with this one.

[2018-06-02 12:14] aggarwalpulkit596 commented on #95
On it

[2018-06-02 12:15] aggarwalpulkit596 commented on #98
we need to remove all the use of realm and implement room instead of realm correct?

[2018-06-02 12:19] the-dagger commented on #98
Yes, that is correct.

[2018-06-02 12:47] aggarwalpulkit596 commented on #95
in this,can i just display the messages in the room because poor API calls and rest of enhancement can be done in issue #98

[2018-06-02 13:00] aggarwalpulkit596 commented on #95
Fixed in #99

[2018-06-02 13:30] aggarwalpulkit596 commented on #98
@the-dagger i think this issue shouldn't be worked upon on until #97 issue has been completed.

[2018-06-02 13:31] RishabhRawatAndroid commented on #95
@the-dagger please see the #89 PR this issue resolve in this PR.

[2018-06-02 15:14] aggarwalpulkit596 commented on #97
What is needed to be done in preferenceactivity ? @the-dagger

[2018-06-02 17:01] #90 closed

[2018-06-02 17:01] #75 closed

[2018-06-02 17:02] #29 closed

[2018-06-02 17:02] #30 closed

[2018-06-02 17:02] #32 closed

[2018-06-02 17:03] #33 closed

[2018-06-02 17:03] #77 closed

[2018-06-02 18:30] RishabhRawatAndroid commented on #98
@the-dagger I think every room should be its own Message table. This will solve the problem. Because at this time every room uses a single Message table So if we go to the different room then the previous room messages are displayed.

[2018-06-03 03:50] aggarwalpulkit596 commented on #98
Which can be easily fixed with a simple where clause in the query and no that is not the solution

[2018-06-03 05:48] aggarwalpulkit596 commented on #98
@the-dagger Bhaiya can help me out a bit I've created all the necessary classes and written queries in dao class but I need a little bit of your help

[2018-06-03 10:59] aggarwalpulkit596 commented on #98
@the-dagger bhaiya there is only one small error which is regarding UNIQUE constraint failed while updating somewhat simliar issue which was in #103 can you help me out in this one rest all is done

[2018-06-03 17:43] aggarwalpulkit596 commented on #98
@the-dagger  bhaiya i've updated the code on the github kindly help me out with few things.
Below is the link to github commit link
https://github.com/aggarwalpulkit596/Chatter/commit/6bfb91d481259c3bb435aa06a939c955ce45adb2

[2018-06-04 20:23] #96 closed

[2018-06-04 20:24] the-dagger commented on #98
@aggarwalpulkit596 Sure, where are you stuck at?

[2018-06-04 21:11] aggarwalpulkit596 commented on #98
@the-dagger actually there is error for first the time selection of any room as for the first time the messagetable is empty for that particular selected room and i don't either know about proper structuring can you tell lit bit about it or maybe review my code if it's possible

[2018-06-04 21:24] aggarwalpulkit596 commented on #63
Not an issues anymore can be closed

[2018-06-05 02:18] aggarwalpulkit596 commented on #26
Not an issue anymore therefore it should be closed.

[2018-06-05 02:18] aggarwalpulkit596 commented on #27
Not an issue anymore therefore it should be closed.

[2018-06-05 02:18] aggarwalpulkit596 commented on #34
Not an issue anymore therefore it should be closed.

[2018-06-05 08:50] venomousboxer commented on #26
App is crashing on selecting room button in bottom navigation bar everytime I run it on device with API level 25 or less. Can someone please confirm this issue

[2018-06-05 15:11] aggarwalpulkit596 commented on #95
@the-dagger bhaiya this issue has been fixed in #99 therefore it can be closed.

[2018-06-06 05:44] aggarwalpulkit596 commented on #26
it has been fixed in #97 so not an issue anymore @venomousboxer

[2018-06-06 08:06] #97 closed

[2018-06-06 08:41] aggarwalpulkit596 commented on #98
@the-dagger kindly review this pr

[2018-06-08 08:55] manav-mj commented on #51
Issue Solved in #101. Closing Issue

[2018-06-08 08:55] #51 closed

[2018-06-08 08:55] manav-mj commented on #52
Issue Solved in #101. Closing Issue

[2018-06-08 08:56] #52 closed

[2018-06-09 07:55] #98 closed

[2018-06-09 12:17] venomousboxer opened #108 "Older messages displayed first on opening the app"
**Actual Behaviour**

Older messages first on opening the application so user has to scroll down to see the latest messages

**Expected Behaviour**

The latest messages should be shown first.

**Steps to reproduce it**
Just open any chat room.

**Screenshots of the issue**

![screenshot_1528546560](https://user-images.githubusercontent.com/31950172/41191429-02a1ef4a-6c0d-11e8-96af-f98fdabbc6fc.png

[2018-06-09 13:29] aggarwalpulkit596 opened #109 "Update Send Message Api"
**Actual Behaviour**
on clicking arrow button in roomfragment message is not sent to the gitter server

**Expected Behaviour**

on clicking arrow button in roomfragment message should be sent to the gitter via a post request

**Screenshots of the issue**

![screenshot-1528550723652](https://user-images.githubusercontent.com/29139786/41192132-2a692138-6c17-11e8-9d75-b6692cd9e2de.jpg)

**Expected Bo

[2018-06-09 22:55] aggarwalpulkit596 opened #110 "Change Toolbar Heading to the Group Name/Person's Name"
**Actual Behaviour**

Toolbar shows only chatter as of now in roomfragment.

**Expected Behaviour**

Toolbar should show appropriate title according to the selected room

**Expected Bounty**
50

[2018-06-10 10:51] #108 closed

[2018-06-13 20:56] #26 closed

[2018-06-14 09:11] aggarwalpulkit596 commented on #40
@championswimmer fixed in #112

[2018-06-14 10:17] venomousboxer commented on #40
@championswimmer can you please specify colour scheme required for the icon or can we design on our own.

[2018-06-14 12:54] manav-mj commented on #40
I think we should agree upon the Design before submitting any PR

**My take on the logo:**

<img src="https://user-images.githubusercontent.com/22222147/41413157-da32786c-6fff-11e8-93ec-f30f6a78c80e.png" width="300px" height="300px"/>

[2018-06-14 15:34] aggarwalpulkit596 commented on #40
**My take on the logo:**

![2](https://user-images.githubusercontent.com/29139786/41422433-8a152dd6-7016-11e8-934e-f432e24e04ac.png)
![gitter-icon-cb-2](https://user-images.githubusercontent.com/29139786/41422435-8a413610-7016-11e8-957a-ea25503f5203.png)

[2018-06-14 16:24] architkshk commented on #40
My take on the logo-

![](https://user-images.githubusercontent.com/5001704/41410310-b6c5272a-6ff6-11e8-9ea3-d8edd8a76337.png)

[2018-06-15 02:54] venomousboxer commented on #40
**My take on the icons :**
![screen shot 2018-06-15 at 8 22 48 am](https://user-images.githubusercontent.com/31950172/41447917-6721125e-7075-11e8-9aaf-472ac8be09af.png)
![screen shot 2018-06-15 at 8 23 08 am](https://user-images.githubusercontent.com/31950172/41447918-6762f41c-7075-11e8-9b10-16fd2ea686bb.png)

[2018-06-15 08:52] championswimmer commented on #40
I think we can simply use the Gitter official icon with a 'Unofficial' sticker on top right corner

[2018-06-15 10:22] aggarwalpulkit596 commented on #40
@championswimmer
![6](https://user-images.githubusercontent.com/29139786/41463435-10488b1c-70b4-11e8-83d4-ae60394663f8.png)
will this work ?

[2018-06-15 10:32] venomousboxer commented on #40
@aggarwalpulkit596 I think what @championswimmer means is that we need to add a sticker with text 'Unofficial' on top right corner.
@championswimmer bhaiya solved the issue in PR #115

[2018-06-15 11:13] manav-mj commented on #40
<img src="https://user-images.githubusercontent.com/22222147/41465319-2c9fa17c-70bb-11e8-9d50-8e31e56ad83d.png" width="300px" height="300px"/>

[2018-06-16 22:01] championswimmer commented on #40
@manav-mj this looks good
want to send this in as a PR ?

[2018-06-16 22:02] championswimmer commented on #40
@manav-mj can you make the corner sticker slightly bigger? when on phone, it is kinda not legible.
move the sticker 20% inwards, it'll allow you to make the font 10-15% bigger.

[2018-06-16 23:12] manav-mj commented on #40
@championswimmer Submitted the PR 👍

[2018-06-17 22:03] #40 closed

[2018-06-25 13:53] #45 closed

[2018-07-20 19:06] krnblni opened #117 "Fix the app crash on start due to toast implementation in RoomsFragment"
**Actual Behaviour**

- Crash on start.

**Expected Behaviour**

- Fetch and display available rooms.

**Steps to reproduce it**

- Build and start the app.

**LogCat for the issue**

- 07-21 00:32:23.304 11904-11947/com.codingblocks.chatter E/AndroidRuntime: FATAL EXCEPTION: Thread-4
    Process: com.codingblocks.chatter, PID: 11904
    java.lang.RuntimeException: Can't toast on a thread that has

[2018-07-20 23:15] firefinchdev commented on #117
Possible Fix #118

[2018-07-21 19:29] championswimmer commented on #117
@firefinchdev go ahead and claim the bounty! I didn't merge your PR as it is, but cherrypicked it into the refactor

[2018-07-21 19:29] #117 closed

[2018-07-21 20:18] aggarwalpulkit596 commented on #110
@championswimmer Done in #119

[2018-07-22 17:38] #110 closed

[2018-07-22 23:07] aggarwalpulkit596 opened #120 "Setup Gradle Play Publisher"
**Expected Behaviour**
Should take version code and version name from date and also set the minor major version in advance versioning.

**Steps to reproduce it**
https://github.com/Triple-T/gradle-play-publisher

**Expected Bounty**
1000

[2018-07-22 23:42] aggarwalpulkit596 commented on #120
@championswimmer bhaiya as the app is now on PlayStore we should setup the Gradle play Publisher for it.

[2018-07-23 00:41] #79 closed

[2018-07-23 00:42] #93 closed

[2018-07-23 00:42] #78 closed

[2018-07-24 01:13] championswimmer opened #122 "change app theme colors to Gitter brand pink colors"

[2018-07-24 01:30] aggarwalpulkit596 commented on #122
@championswimmer Bhaiya is this good ?
![screenshot-1532395815589](https://user-images.githubusercontent.com/29139786/43111497-3dc45ae8-8f0f-11e8-9926-5b08dc1b8642.jpg)

[2018-07-26 20:34] aggarwalpulkit596 opened #124 "Pagination and Endless Scroll"
**Actual Behaviour**
Right now by default atmost 50 messages are loaded and there is no option to see the previous messages and there is no pagination as well.
**Expected Behaviour**

There should be pagination of 20 messages per request and endless scroll till the first message is accessed

**Expected Bounty**

2000

[2018-07-26 21:37] #95 closed

[2018-07-27 15:15] #122 closed

[2018-07-27 15:15] #124 closed

[2018-07-28 03:10] aggarwalpulkit596 opened #128 "Add Sign out"
Add Option to Sign Out in OnCreateOptionsMenu

[2018-07-28 04:52] aggarwalpulkit596 opened #130 "Fix Crash for User Api"
Crash on Calling User Api
![screenshot 2018-07-28 at 10 19 09 am](https://user-images.githubusercontent.com/29139786/43353213-1e21fcba-9250-11e8-80eb-a526ef3f9dd9.png)

[2018-07-28 04:56] aggarwalpulkit596 opened #132 "Add Option to Leave Room"
**Actual Behaviour**
No Option to Leave Room

**Expected Behaviour**
There Should be an Option to Leave Room

it should not be worked upon before #134 is merged/fix as uid is required for leaving a room

[2018-07-28 15:26] aggarwalpulkit596 opened #135 "Add Navigation Drawer"
Add Navigation Drawer for displaying user info as currently there is no option to see user profile info

it should not be worked upon before #134 is merged/fix as uid is required for leaving a room

[2018-07-29 12:36] #109 closed

[2018-07-30 17:14] aggarwalpulkit596 opened #138 "Add Search Option"
**Actual Behaviour**

There is no option to find new Rooms as of now
**Expected Behaviour**

Add an search bar which shows a list of rooms according to search query and give a details of page  and a button to join room

**Expected Bounty**
2000

[2018-07-31 08:51] #37 closed

[2018-07-31 09:46] abishekvashok opened #140 "Gradle build fails"
**Actual Behaviour**

Gradle build fails raising the exception that `compile` is depreciated.

**Expected Behaviour**

Gradle build should not fail.

**Steps to reproduce it**

Try to build the project on the latest Android studio version.

**Expected Bounty**

100

[2018-07-31 09:48] abishekvashok opened #141 "Update dependencies to latest versions"
**Actual Behaviour**

Current dependencies have become really old

**Expected Behaviour**

They should be updated to new versions.

**Expected Bounty**

100

[2018-07-31 14:14] abishekvashok commented on #39
@championswimmer @the-dagger solved in #142 please review and add a bounty!

[2018-07-31 14:14] abishekvashok commented on #42
This is a duplicate of #39 : @championswimmer @the-dagger solved in #142

[2018-07-31 14:14] abishekvashok commented on #140
@championswimmer @the-dagger solved in #142 please review and add a bounty!

[2018-08-01 03:56] aggarwalpulkit596 opened #143 "Added a Page for Group info"
There should be a page for Group Info with a list of the all the users as well as a list of admins

**Expected Bounty**

2000

[2018-08-01 18:17] #42 closed

[2018-08-02 02:50] aggarwalpulkit596 commented on #143
@championswimmer bhaiya kindly review this issue 😅

[2018-08-02 07:42] #128 closed

[2018-08-02 07:43] #39 closed

[2018-08-02 07:43] #140 closed

[2018-08-02 07:46] abishekvashok commented on #140
@the-dagger @championswimmmer I would appreciate a bounty on this :P

[2018-08-02 07:47] abishekvashok commented on #39
@the-dagger @championswimmer I would appreciate a bounty for this :P

[2018-08-02 07:47] the-dagger commented on #140
Done!

[2018-08-02 08:06] abishekvashok commented on #130
Duplicate of #39 Fixed in #142 : Claimed a bounty of 100

[2018-08-02 08:10] abishekvashok commented on #15
Please close this up!

[2018-08-02 08:10] abishekvashok commented on #25
It's done somehow!

[2018-08-02 08:13] abishekvashok opened #145 "Add bottom navigation bar back"
**Actual Behaviour**

Bottom navigation bar was removed and the app currently uses a menu for navigation!
Currently when you open the dashboard activity, a full screen fragment is created which opens the RomsFragment. On click on any room, another activity is opened just to display a similar full screen fragment. Here fragments are not used correctly. The app uses a menu for navigation which is ro

[2018-08-02 08:14] #132 closed

[2018-08-02 08:17] aggarwalpulkit596 commented on #143
@the-dagger kindly look this also bhaiya

[2018-08-02 08:19] aggarwalpulkit596 commented on #145
there is no need to have a bottom navigation bar as there is only one fragment which is required.

[2018-08-02 08:39] abishekvashok commented on #145
Material design guidelines specifies it as the desired mode of navigation

[2018-08-02 11:58] abishekvashok commented on #145
- [x] Add bottom navigation bar
- [x] Takeout hardcoded functions implemented in RoomActivity
- [x] Implement the same functions with better logic in dashboard activity.
- [x] Update adapter to call open Room Function passing only minimal arguments.
- [x] Update code so that all other functionalities remain intact
- [x] Takeout RoomActivity and it's menu.

Done in #149

[2018-08-02 14:07] aggarwalpulkit596 opened #151 "Add option to mark all messages read in a room"
**Actual Behaviour**
No option to mark read messages in a single click

**Expected Behaviour**
Should have an option to mark read all messages

[2018-08-02 16:43] aggarwalpulkit596 opened #153 "Add option to make a room/chat favourite"
**Actual Behaviour**

No option to make a chat favourite
**Expected Behaviour**
Added option to make a chat favourite by passing unique id as the roomid 💯

**Expected Bounty**
1000

[2018-08-02 16:52] aggarwalpulkit596 commented on #153
@championswimmer kindly review this issue.

[2018-08-04 22:42] #153 closed

[2018-08-05 01:37] aggarwalpulkit596 commented on #138
@championswimmer please review this one also, after #152 and #146 has been merged as their will be conflicts in this one. 📦

[2018-08-05 13:06] aggarwalpulkit596 commented on #143
@championswimmer bhaiya a lot of changes had to be done for showing group info, as well as adapter,fragment and modal class, was needed as well so 200 points isn't a little less for that much :P

[2018-08-05 13:49] the-dagger commented on #143
@aggarwalpulkit596 enjoy ;)

[2018-08-05 13:54] aggarwalpulkit596 commented on #138
@the-dagger please review this one also 📦

[2018-08-05 17:38] #151 closed

[2018-08-05 17:43] aggarwalpulkit596 commented on #135
@the-dagger please review

[2018-08-06 20:35] #91 closed

[2018-08-08 21:32] #135 closed

[2018-08-08 21:44] aggarwalpulkit596 commented on #135
@championswimmer would appreciate a bounty on this one

[2018-08-08 21:55] aggarwalpulkit596 opened #158 "Add Suggested Rooms"
Add Suggested Rooms Section in the Navigation Drawer so that a new user can join some rooms who is not a part of any Room

[2018-08-08 21:56] aggarwalpulkit596 commented on #158
@championswimmer review this as this one also is not provided anywhere in gitter api docs figured out this one on my own :P

[2018-08-08 22:19] aggarwalpulkit596 opened #159 "Add Message Info"
Add Message Info on long click of a particular message item in Rooms Fragment

[2018-08-08 23:34] aggarwalpulkit596 opened #160 "Fixed UI issues"
There are lot of ui issues
1.Add back button
2.Message should not bot italic and there are extra padding in the message item
3.Time is incorrect not accoridng to the zone

![screenshot-1533771076416](https://user-images.githubusercontent.com/29139786/43869654-4a5b5020-9b91-11e8-9779-fdfc327b9148.jpg)

[2018-08-08 23:37] aggarwalpulkit596 commented on #160
@championswimmer @the-dagger please review

[2018-08-09 12:54] aggarwalpulkit596 opened #163 "Mentions Clickable"
Mentions in message should be clickable (multiple mentions) and clicking upon should re direct user to a info activity where user info is shown and option to chat
this intent should also work on room info list of room members

**Expected Bounty**
2000

[2018-08-09 12:55] aggarwalpulkit596 commented on #163
@the-dagger it is worth 2000 points ? :P

[2018-08-09 13:26] aggarwalpulkit596 commented on #163
Just for reference i'm talking about this with support of as many as many mentions possible :P
![screenshot-1533821140282](https://user-images.githubusercontent.com/29139786/43901757-e61261ce-9c05-11e8-8cfb-55de63078508.jpg)

[2018-08-11 16:30] aggarwalpulkit596 commented on #163
@championswimmer please review

[2018-08-11 16:35] #120 closed

[2018-08-11 17:21] #138 closed, assigned to nobody

[2018-08-11 17:23] championswimmer opened #165 "fix minification on release"
currently enabling proguard on release fails to build. we need to fix this as releases must be minified

[2018-08-11 17:33] aggarwalpulkit596 commented on #163
@championswimmer bhaiys there was a lot of addition as well making that functionality was really cringy 700 lines of code was wriiten i guess 2000 points was worth but anyways 👍

[2018-08-12 02:47] aggarwalpulkit596 opened #167 "Add Favourites to NavBar if available"

[2018-08-12 02:58] aggarwalpulkit596 commented on #165
@championswimmer bhaiya can you be little more specific about the error

[2018-08-12 09:05] championswimmer opened #168 "crash on getAllRooms"
log

[code]

[2018-08-12 09:05] championswimmer opened #169 "crash on app launch"
log

[code]

[2018-08-12 09:43] aggarwalpulkit596 commented on #169
Bhaiya it has been fixed in later commit it's due to an log

[2018-08-12 11:53] championswimmer opened #170 "dont show access token as toast when logging in"

[2018-08-12 11:54] championswimmer opened #171 "navdrawer shows sample image - change it to actual user avatar"

[2018-08-12 11:55] championswimmer opened #172 "fix travis builds"

[2018-08-12 11:55] #158 closed

[2018-08-12 11:55] #15 closed

[2018-08-12 11:56] #160 closed

[2018-08-12 12:52] #172 closed

[2018-08-12 13:06] #169 closed

[2018-08-12 13:13] firefinchdev commented on #171
@championswimmer
Why closed this issue?
This is really happening.
If you login for 1st time, you are not shown your name, avatar.
You have to kill and restart app so that avatar and name appears.
This has been fixed in #174 .

[2018-08-12 13:43] #130 closed

[2018-08-13 06:28] aggarwalpulkit596 opened #177 "Add RoomUserList with pagingation and option to add new user to Room"
Add Complete list of users with pagination and search option in the selected room
Add Option to search among all the users of gitter and add to it the selected Room
Fix minor crash for no mention id in case of @all mentions
Fix minor crash in case of no website of user in user website

**Screenshots of the issue**
Sreenshot for no mentions crash

![screenshot 2018-08-13 at 11 38 56 am](https://use

[2018-08-13 18:03] #177 closed, assigned to nobody

[2018-08-13 18:04] #167 closed

[2018-08-13 18:36] #159 closed

[2018-08-13 18:38] aggarwalpulkit596 commented on #177
@the-dagger bhaiiya you haven't added boss and removed the 500 label

[2018-08-13 20:25] aggarwalpulkit596 commented on #167
@championswimmer bhaiya can you make the changes to claimed points as it has been changed :)

[2018-08-14 04:52] aggarwalpulkit596 opened #179 "Update App Screenshots"

[2018-08-14 04:53] aggarwalpulkit596 opened #180 "Set up unit test and run them on travis/circleci"

[2018-08-14 04:54] aggarwalpulkit596 commented on #179
@the-dagger @championswimmer please review

[2018-08-14 04:55] aggarwalpulkit596 commented on #180
@the-dagger @championswimmer please review

[2018-08-14 06:38] aggarwalpulkit596 opened #182 "Add Support For Faye Support"
Add Support for faye for real-time data of rooms,message and other resources.
References
https://github.com/elirex/android-faye-client
https://developer.gitter.im/docs/faye-endpoint

[2018-08-14 18:57] #179 closed, assigned to nobody

[2018-08-14 19:21] aggarwalpulkit596 opened #184 "Delete A Room(Admin Only)"
Option to delete the room if the user is admin

[2018-08-14 19:22] aggarwalpulkit596 opened #185 "Remove a user from the User(Admin Only)"
Option to remove a particulat user from the room if the current user is admin

[2018-08-14 19:23] aggarwalpulkit596 opened #186 "Share Chat Room"

[2018-08-14 19:23] aggarwalpulkit596 opened #187 "Update Room(Admin Only)"
Option to update a room with following parametrs

topic: Room topic.
noindex: Whether the room is indexed by search engines
tags: Tags that define the room.

[2018-08-14 19:25] aggarwalpulkit596 commented on #184
@championswimmer @the-dagger please review

[2018-08-14 19:25] aggarwalpulkit596 commented on #185
@championswimmer @the-dagger please review

[2018-08-14 19:26] aggarwalpulkit596 commented on #187
@championswimmer @the-dagger please review

[2018-08-14 19:26] aggarwalpulkit596 commented on #186
@championswimmer @the-dagger please review

[2018-08-14 20:24] #184 closed, assigned to nobody

[2018-08-14 21:08] #185 closed, assigned to nobody

[2018-08-14 21:09] championswimmer commented on #180
making code coverage target 50% a separate issue

[2018-08-14 21:10] championswimmer commented on #165
try to enable minify and build, you'll see the errors.

[2018-08-14 21:11] aggarwalpulkit596 commented on #165
okayy :)

[2018-08-14 21:11] championswimmer commented on #145
I don't like this approach. A nav drawer is better

[2018-08-14 21:44] aggarwalpulkit596 commented on #180
@championswimmer bhaiya can you tell what should include in unit tests :)

[2018-08-14 21:45] aggarwalpulkit596 opened #191 "make Code Coverage >50 %"

[2018-08-14 23:36] #186 closed, assigned to nobody

[2018-08-14 23:37] championswimmer commented on #180
any simple thing. construct a class or something. just make sure the testing setup works in this issue. anything more than 1% coverage is ok to show that testing setup works.

add real tests for the other issue.

[2018-08-14 23:38] #145 closed

[2018-08-14 23:48] aggarwalpulkit596 commented on #180
Okay that's easy 😅

[2018-08-15 03:42] #165 closed

[2018-08-15 06:21] aggarwalpulkit596 commented on #180
@championswimmer bhaiya there was a lot of complication for clicking button i had to find individual xpath of buttons so i think 1000 was good enough :P
P.S.I also need to change my github password 🔑 can you review this asap

[2018-08-15 17:14] #187 closed, assigned to nobody

[2018-08-15 17:16] championswimmer commented on #180
okay changing it to 1000, but you need to add travis and circleci configs too

[2018-08-15 17:16] aggarwalpulkit596 opened #195 "Change Notification Settings to receive push notification"
Refrences:Check Below Image Screenshot
![image](https://user-images.githubusercontent.com/29139786/44162108-ef218200-a0dc-11e8-8307-fac67a3ea97f.png)

[2018-08-15 17:17] championswimmer commented on #180
travis is only checking build, not checking tests right now. and circleci doesn't exist

[2018-08-15 17:17] aggarwalpulkit596 commented on #195
@championswimmer please review .These 2 api were also not there in gitter documentation anywhere

[2018-08-15 17:31] #180 closed, assigned to nobody

[2018-08-15 17:58] #195 closed, assigned to nobody

[2018-08-15 18:00] championswimmer commented on #165
reduced to 500 because it was my mistake I thougt we are still using Realm
When using Realm, fixing proguard rules becomes really really hard.

[2018-08-15 18:04] championswimmer commented on #167
made 300. 500 is a bit too much for this much work

[2018-10-05 15:39] francium opened #198 "Is it possible to get this published on FDroid?"
Please see https://f-droid.org/en/docs/Inclusion_How-To/

FDroid is an alternative to the Play Store. It contains Free and Open Source apps.

[2018-10-05 17:36] championswimmer commented on #198
Yeah we do not have any proprietary libraries
https://github.com/coding-blocks/Chatter/blob/development/app/build.gradle#L61-L96

So sure possible. I'll do it sometime in coming week

[2018-11-01 03:29] francium commented on #198
Hey, any update on this?

[2018-11-04 15:13] championswimmer commented on #198
@aggarwalpulkit596 want to take this up? Submitting this to F-Droid ?

[2018-11-04 20:20] aggarwalpulkit596 commented on #198
@championswimmer bhaiya i wouldn't recommend it right now as it lacks one major functionality of sending messages and chat app without sending messages is of no good :P maybe I'll try to fix the issues and then deploy it ?

[2018-11-07 08:44] championswimmer commented on #198
Sure

[2019-05-07 06:03] luckyman20 commented on #170
@championswimmer I guess this should be closed now.

[2019-05-14 14:31] luckyman20 commented on #191
@aggarwalpulkit596 @championswimmer @the-dagger Is this still available? If yes, I would like to work on it.

[2019-05-14 18:34] ShridharGoel opened #199 "Wrong message being displayed when no more messages are available"
**Actual Behaviour**

Currently, when no more messages are there to display, toast pops up with "There seems to be no rooms, please try again later".

**Expected Behaviour**

The correct text should be: "There seem to be no more messages".

**Steps to reproduce it**

1. Open any chat.
2. Scroll to the top until no more messages are there.

**GIF of the issue**

![ezgif com-video-to-gif (73)](https

[2019-05-15 19:13] imashwani commented on #170
is it still open? If yes, i would like to take it up !!

[2019-10-07 18:38] harshraj22 opened #201 "Update README"
**Actual Behaviour**

The ```Automating Publishing to the Play Store``` in README.md is not well formatted. The table is not well indented. Also bullets in README are not properly set. I would like to correct it.

**Expected Behaviour**

The last lines should be shown as table of :   | command | Description |

**Steps to reproduce it**
[Bullet points and Automating Publishing to the Play Store](ht

[2019-10-08 05:27] sonusourav opened #203 "Markdown not rendering properly in Readme file"
**Actual Behaviour**

The markdown is not properly used in the following places.
1. Tables for upload commands.
2. Bullets for **Automatic Publishing to the store**.

**Expected Behaviour**
They should be properly rendered. I have also a few small changes.

### Before
![image](https://user-images.githubusercontent.com/34706326/66369508-52920180-e9ba-11e9-988d-bdf0bc98006d.png)

### After
![image](

[2019-10-08 08:11] #203 closed, assigned to nobody

[2019-10-08 08:13] sonusourav opened #205 "Home up button not working in Settings page"
**Actual Behaviour**

Home up button on settings page not working.

**Expected Behaviour**

On click home up button, should take you to the previous page (activity).

**Steps to reproduce it**

1. Go to the settings page.
2. Press the home up button.

[2019-10-08 09:04] sonusourav opened #207 "Navigation Drawer remains open on Item Click"
**Actual Behaviour**

Navigation drawer remains open on selecting an item on drawer and also on returning back from some activity.

**Expected Behaviour**

It should close on selecting any item on navigation drawer.

**Steps to reproduce it**

1. Open Dashboard Activity.
2. Go to some other activity by selecting an item on drawer.
3. Press home up button or back button.
4. Observe drawer is open.

[2019-11-06 18:23] #201 closed, assigned to nobody

[2020-03-24 17:49] CapTen101 commented on #207
I'm on it. Kindly assign me this issue @sonusourav

[2020-03-24 18:04] CapTen101 commented on #207
@sonusourav I'm getting this error:
ERROR: D:\DELL\Documents\AndroidProjects\Chatter\keys\release.properties (The system cannot find the path specified)

![Screenshot (28)](https://user-images.githubusercontent.com/45699327/77460984-e603a580-6e27-11ea-90a5-d873344c3f65.png)

[2020-03-24 18:49] CapTen101 commented on #207
Kindly help @aggarwalpulkit596 @championswimmer @the-dagger

[2020-05-10 09:47] mrwhoknows55 opened #213 "Wrong time stamp on every message."
**Expected**
Time stamp should be relative to current time.

**Steps to reproduce it**
After opening any chat room either app crashes or shows wrong time stamp

**LogCat for the issue**
[code]

## **Screenshots of the issue**

### Time in the Chatter App (Shows April 27th)
![chatter](https://user-images.githubusercontent.com/30384908/81495650-7cecca00-92cf-11ea-8511-cefd61a1b359.jpg)

### Same Cha

[2020-05-10 10:00] mrwhoknows55 commented on #213
@aggarwalpulkit596  can I work on this issue?

[2020-05-15 16:59] ritik2209 commented on #191
Is this available?

[2020-05-16 10:39] YashKumarVerma commented on #191
Interested in working on this